.rj-requst-title {
  line-height: 55px;
}
.rj-agree {
  float: right;
  width: 60px;
  background-color: #fff;
  margin-right: 10px;
  border-color: #28a54c;
  color: #28a54c;
}
.rj-refuse {
  float: right;
  width: 60px;
  background-color: #fff;
  margin-right: 10px;
  border-color: red;
  color: red;
}
.rj-request-img{
    width:30px;
}
.rj-requst-item{
    padding:10px 0px 0px 72px 
}