.rj-push-right {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #8c8c8c;
  font-size: 13px;
}

.item .rj-list-p {
  font-size: 13px;
  color: #6a6a6a; }

.item.my-popup {
  padding: 15px;
  padding-left: 20px;
}

.popup-head {
  padding: 0;
  border-bottom: none ; }

.popup-body {
  padding: 0px;
  overflow: hidden;
}


p.subTitle{
  line-height: 30px;
}

/*wechat share*/
.ic-weixin {
	width: 22px;
	height: 22px;
  display: inline-block !important;
	background-image: url(/assets/imgweixin.png) !important;
}
.ic-weixin-moment {
	width: 22px;
	height: 22px;
  display: inline-block !important;
	background-image: url(/assets/imgweixin-moment.png) !important;
}
.share-sheet .button {
	color: #777;
	font-size: 16px;
}

/*my*/
.h2-fix{
  border-left: 2px solid #009a61;
  background-color: #f6f6f6;font-size: 22px
}

/*聊天音效细化*/
.unreadcount{
  text-align: center;
}
.microphone{
  display: none;
  position:absolute;width:100%;left:0;bottom:150px;height:80px;
  align-items: center;justify-content: center;
}
.microphone.active{
  display: flex;
}
.microphone img{
  height: 100%;
}

.imageMsg{
  width: 100px;
}


/* 联系人 */
/*for alphabet sidebar*/
.alpha_sidebar{
  position: absolute;
  top:60px;
  right: 10px;
  z-index: 999
}
.alpha_sidebar li{
  color: #333;
  text-align: center;
  margin-bottom: 0px;
  cursor: pointer;
  /*font-size: small;*/
  height:18px;
}
.alpha_sidebar.select-animation {
  /*font-size: small;*/
  font-weight: 700;
}

/* phonertc*/
.progress-bar-icon {
  font-size: 36px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 36px;
  width: 36px;
  z-index: 3;
}

/*phone rtc*/
.progress-bar-icon {
  font-size: 36px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 36px;
  width: 36px;
  z-index: 3;
}


/**************************视频界面按键样式 ws START*********************/
.calling-container {
  text-align: center;
  width:100%;
  height:20%;
  background: rgba(0,0,0,0.2);
  bottom:0;
  position:absolute;
}
.calling-container1 {
  text-align: center;
  width:100%;
  height:20%;
  background: rgba(0,0,0,0.2);
  bottom:20%;
  position:absolute;
}
/********************************* ws END********************************/

/*.calling-container p {*/
  /*font-weight: bold;*/
  /*font-size: 20px;*/
  /*margin-bottom: 20px;*/
/*}*/

.video-container {
  width: 350px;
  height: 350px;
  background-color: wheat;
  margin-right: auto;
  margin-left: auto;
}

/*********************************code by ws START***************************************/
/*视频聊天窗口*/

/*.video-container {*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*background-color: #f1f2f3;*/
/*}*/


/**********************************code by ws  END**************************************/

/* 隐藏菜单栏 */
.tabs-item-hide > .tabs,
.tabs.tabs-item-hide {
  display: none;
  }

 