.rj-push-right {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #8c8c8c;
  font-size: 13px;
}

.item .rj-list-p {
  font-size: 13px;
  color: #6a6a6a; }

.item.my-popup {
  padding: 15px;
  padding-left: 20px;
}

.popup-head {
  padding: 0;
  border-bottom: none ; }

.popup-body {
  padding: 0px;
  overflow: hidden;
}


p.subTitle{
  line-height: 30px;
}

/*wechat share*/
.ic-weixin {
	width: 22px;
	height: 22px;
  display: inline-block !important;
	background-image: url(/assets/imgweixin.png) !important;
}
.ic-weixin-moment {
	width: 22px;
	height: 22px;
  display: inline-block !important;
	background-image: url(/assets/imgweixin-moment.png) !important;
}
.share-sheet .button {
	color: #777;
	font-size: 16px;
}

/*my*/
.h2-fix{
  border-left: 2px solid #009a61;
  background-color: #f6f6f6;font-size: 22px
}

/*聊天音效细化*/
.unreadcount{
  text-align: center;
}
.microphone{
  display: none;
  position:absolute;width:100%;left:0;bottom:150px;height:80px;
  align-items: center;justify-content: center;
}
.microphone.active{
  display: flex;
}
.microphone img{
  height: 100%;
}
.hold-tips{
  height:36px;width:60%;color:#444;text-align:center;margin:0 auto;
  padding-top:6px;border-radius:4px;background-color:#f2f2f2
}
.hold-tips.active {
  background-color: #ccc;
}

.ic {
  display: block;
  margin: 0 auto;
  background: center center/100% 100% no-repeat;
  color: #777;
  text-align: center;
  font-size: 13px;
}
.ic-voice {
  width: 14px;
  height: 20px;
  background-image: url(/assets/img/icon/voice.png);
}

.ic-keyboard,.ic-keyboard-grey {
  width: 20px;
  height: 14px;
  background-image: url(/assets/img/icon/keyboard.png);
}

.ic-keyboard-grey {
  background-image: url(/assets/img/icon/keyboard-grey.png);
}

.voice .ic-voice,.voice .ic-keyboard-grey {
  margin: 5px;
}
.imageMsg{
  width: 100px;
}
.chat-toolbar{
   height: 65px;width:100%;
   position: absolute;top: 60px;
   display: flex;flex-direction: row;align-items: center;
}

/* 联系人 */
/*for alphabet sidebar*/
.alpha_sidebar{
  position: absolute;
  top:60px;
  right: 10px;
  z-index: 999
}
.alpha_sidebar li{
  color: #333;
  text-align: center;
  margin-bottom: 0px;
  cursor: pointer;
  /*font-size: small;*/
  height:18px;
}
.alpha_sidebar.select-animation {
  /*font-size: small;*/
  font-weight: 700;
}

/* phonertc*/
.progress-bar-icon {
  font-size: 36px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 36px;
  width: 36px;
  z-index: 3;
}

/*phone rtc*/
.progress-bar-icon {
  font-size: 36px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 36px;
  width: 36px;
  z-index: 3;
}


/**************************视频界面按键样式 ws START*********************/
.calling-container {
  text-align: center;
  width:100%;
  height:20%;
  background: rgba(0,0,0,0.2);
  bottom:0;
  position:absolute;
}
.calling-container1 {
  text-align: center;
  width:100%;
  height:20%;
  background: rgba(0,0,0,0.2);
  bottom:20%;
  position:absolute;
}
/********************************* ws END********************************/

/*.calling-container p {*/
  /*font-weight: bold;*/
  /*font-size: 20px;*/
  /*margin-bottom: 20px;*/
/*}*/

.video-container {
  width: 350px;
  height: 350px;
  background-color: wheat;
  margin-right: auto;
  margin-left: auto;
}

/*********************************code by ws START***************************************/
/*视频聊天窗口*/

/*.video-container {*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*background-color: #f1f2f3;*/
/*}*/


/**********************************code by ws  END**************************************/

/* 隐藏菜单栏 */
.tabs-item-hide > .tabs,
.tabs.tabs-item-hide {
  display: none;
  }

 /* 消息样式切换 */
.message-detail-height  {
  bottom:125px !important;
}
.message-bar-height  {
  bottom:75px !important;
}
.message-footer-height {
  height: 125px !important;
}
/* 融云消息 */
.portrait{
  width:40px !important;
}
.message {
    display:block;
    clear:both;
    max-width:50%;
    margin:0 0 1rem 0;
    border-radius:.75rem;
    background:#e6e5eb;
    color:#383641;
    padding:.6875rem;
    font-size:.875rem;
}
.message img {
    display:block;
    max-width:65%;
    border-radius:.75rem;
}

.me {
  background:#b3eeb6;
  color:#fff;
  float:right;
}
.web_wechat_voice_gray{
  background: url(/assets/img/icon/icon_sprite.png) 0 -2427px;
  display: inline-block;
  width: 23px;
  height: 23px;
  vertical-align: middle;
}
.web_wechat_voice_gray_playing{
  background:url(/assets/img/icon/voice_play.gif);
  display: inline-block;
  width: 23px;
  height: 23px;
  vertical-align: middle;
}

.web_wechat_voice_green{
    background: url(/assets/img/icon/icon_sprite.png) 0 -2450px;
    display: inline-block;
    width: 23px;
    height: 23px;
    vertical-align: middle;
}
.web_wechat_voice_playing{
    background: url(/assets/img/icon/voice_play_me.gif);
    display: inline-block;
    width: 23px;
    height: 23px;
    vertical-align: middle;
}
.message-duration{
    line-height: 38px;
}
