<ion-view>
    <ion-content scroll="false">
        <div class="dev_content bacImgs">
            <div class="col col-30"></div>
            <div class="col">
                <form class="login_form" name="loginform" novalidate ng-submit="loginIn(loginform.$valid)">
                    <div class="list" style="width: 90%;margin-left: 5%">
                        <label class="item item-input">
                            <i class="icon ion-android-person dark"></i>
                            <input type="text" placeholder="请输入你的用户名/手机号/微信号"
                                   ng-model='user.name' name="username" required ng-change="check()">
                        </label>

                        <label class="item item-input">
                            <i class="icon ion-locked dark"></i>
                            <input type="password" placeholder="请输入你的密码"
                                   ng-model="user.pwd" name="password" required>
                        </label>
                    </div>
                    <input type="submit" class="button button-block "
                           style="background-color: #A8B1F6;border: 0;border-radius: 10px;color:#ffffff;font-size: 18px;font-weight: bold;width: 90%;margin-left: 5%"
                           value="登录"/>
                </form>
                <div class="other-link">
                    <a>忘记密码</a>
                    <a href="#/register">快速注册</a>
                </div>
            </div>
            <div class="col col-25"></div>
        </div>
    </ion-content>
</ion-view>
