<ion-view>
    <div class="bar bar-header register-header bar-dark">
        <h3 style="color:white;">注册</h3>
    </div>
    <ion-content class="register-body" >
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">用户名</span>
                <input type="tel" placeholder="用户名"  maxlength="11"  ng-model="user.username">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">密码</span>
                <input type="password" placeholder="密码字母开头6-12位"  
                minlength="6"  maxlength="12" ng-model="user.password">
            </label>
        </div>

        <button class="button button-block button-balanced" ng-click="register()"> 注册 </button>
    </ion-content>
</ion-view>