.chattoolbar-img {
    width: 45px;
    border-radius: 50%;
}
.chattoolbar-div {
   flex: 1;
   text-align: center;
}
.chat-toolbar{
   height: 65px;width:100%;
   position: absolute;top: 60px;
   display: flex;flex-direction: row;align-items: center;
}
