<ion-view view-title="EFOS">
    <ion-nav-buttons side="right">

        <button class="button button-clear  title_icon" ng-click="hidePopover()"
                ns-popover
                ns-popover-template="popover"
                ns-popover-theme="ns-popover-list-theme"
                ns-popover-placement="bottom|right"
        ><i class="icon-uniE900" style="font-size: 18pt;line-height: 34px;"></i></button>
    </ion-nav-buttons>

    <ion-content style="background-color: #e1e1e3">
        <a class="item item-avatar  item-icon-right account" ng-click="update()">
            <img ng-src="{{ phone }}"/>
            <div >
                <p>{{UserName}}</p>
                <p>{{ RoleName }}</p>
            </div>
            <i  class="icon ion-ios-arrow-right"></i>
        </a>

        <div class="list account_list">
            <a class="item item-icon-left item-icon-right" href="#/EFOS/alarm">
                <i class="icon ion-share"></i>
                订单
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/EFOS/person/integral">
                <i class="icon ion-share"></i>
                积分
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>

        <div class="list account_list">
            <a class="item item-icon-left item-icon-right" click-share href="#">
                <i class="icon ion-share"></i>
                分享
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-ios-list-outline"></i>
                认证
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/EFOS/person/setting">
                <i class="icon ion-android-favorite-outline"></i>
                设置
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" ng-click="about()">
                <i class="icon ion-ios-gear-outline"></i>
                关于
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
