<ion-view view-title="设置">
    <ion-content  class="setting">
        <div class="list">
            <div class="item" >
                消息提醒
            </div>
            <div class="item" >
                聊天
            </div>
            <div class="item">
                隐私
            </div>
             <div class="item">
                账号安全
            </div>
            <div class="item" ng-click="exit()">
                退出
            </div>


        </div>
    </ion-content>
</ion-view>