<ion-view title="协同">
    <ion-nav-title>
        <div class="button-bar" style="margin-top: 5px">
            <button class="button" ng-class="{ 'button\-calm': currentFeedsType == 'messagetab' }"
             ng-click='tabswitch("messagetab")'><b>消息</b></button>
            <button class="button" ng-class="{ 'button\-calm': currentFeedsType == 'contacttab' }" 
             ng-click='tabswitch("contacttab")'><b>通讯录</b></button>
        </div>
    </ion-nav-title>

   <ion-nav-buttons side="right">
        <button class="button button-clear  title_icon" ng-click="hidePopover()"
        ns-popover ns-popover-template="popover"
        ns-popover-theme="ns-popover-list-theme"
            ns-popover-placement="bottom|right">
            <i class="icon-uniE900" style="font-size: 18pt;line-height: 34px;"></i></button>
    </ion-nav-buttons> 

    <ion-content>
        <ion-list ng-if="currentFeedsType==contacttab">
            <ion-item class="item item-divider">
                工作组
            </ion-item>
            <ion-item class="rj-item" style="padding-left:10px" ng-repeat="group in groups" 
             ng-href="#/tab/groupInfo/{{group.id}}/{{group.name}}/{{group.type}}/GROUP">
                <div class="rj-groups-pic rj-green-bgc">
                    <i class="ion-android-contacts"></i>
                </div>
                <h2>{{group.name}}({{group.number}})</h2>
                <button class="button button-small rj-inittalk" 
                ng-click='initTalk("{{group.id}}","{{group.name}}","GROUP",$event)'>
                 发起聊天
                </button>
            </ion-item>
        </ion-list>
        <!-- 融云 -->
        <ion-list ng-if="currentFeedsType==contacttab" class="rj-list">
            <phone-contact
                friends-list_local="friends_list">
            </phone-contact>
        </ion-list>

        <!-- 实时对话消息 -->
        <ion-list rj-close-back-drop ng-if="currentFeedsType==messagetab">
            <res-friend-team  
                friends-message_local="friendsMessage"
                groupinvite-list_local="groupinviteList"
                response-req_local="responseReq" >
            </res-friend-team>
            <message-list 
                friends-message="friends_message"
                goto-chat-detils2="gotoChatDetils"
                mark-message2="markMessage"
                delete-message2="deleteMessage" >
            </message-list>
        </ion-list>
    </ion-content>

    <script type="text/ng-template" id="popover">
    <div class="triangle"></div>
    <ul class="tips">
        <li><a ng-click="addTeam()"><i class="icon  ion-chatbox-working"></i> 发起群聊 </a></li>
        <li><a ng-click="addFriend()"><i class="icon  ion-person-add"></i> 添加好友 </a></li>
    </ul>
</script>
</ion-view>
