.alpha_sidebar{
  position: fixed;
  top:90px;
  right: 10px;
  z-index: 999;
}

.alpha_sidebar li{
  color: #333;
  text-align: center;
  margin-bottom: 0px;
  cursor: pointer;
  /*font-size: small;*/
  height:18px;
}

.promptBox-hydNav{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background: #0a9dc7;
  position: absolute;
  top:100px;
  right:40px;
  display: none;
}

.promptBox-hydNav h3{
  color: white;
  position: relative;
  top:11px;
  left:18px;
}

.contacts_a{
  display: block;
  padding-left: 8px;
  background: rgba(59, 13, 54, 0.16);
  text-decoration: none;
  color: #4d4d4d;
}
