<!-- the current view will be rendered in the <ion-nav-view> directive -->
<ion-view view-title="登录" class="container" hide-tabs="">

	<ion-content scroll="false">
		<form name="myForm" w5c-form-validate="validateOptions" novalidate>
			<div class="login-icon">
				<img src="assets/img/icon.png" alt="" class="ion-image">
			</div>

			<div class="weui-cells__title">请输入账号</div>
			<div class="weui-cells">
				<div class="weui-cell">
					<div class="weui-cell__bd">
						<input class="weui-input" name="username" type="tel" ng-model="user.username" required
							placeholder="请输入账号" />
					</div>
				</div>
			</div>

			<div class="weui-cells__title">请输入密码</div>
			<div class="weui-cells">
				<div class="weui-cell">
					<div class="weui-cell__bd">
						<input class="weui-input" name="password" type="password" ng-model="user.password" required placeholder="请输入密码" />
					</div>
				</div>
			</div>

			<div class="weui-btn-area">
				<a class="weui-btn weui-btn_primary" ng-click="login()">登录</a>
			</div>

			<a class="weui-btn weui-btn_default" ui-sref="register">注册</a>
			<form-error time="1500" ng-if="myForm.$errors.length > 0 "></form-error>
		</form>
	</ion-content>
</ion-view>