<ion-view view-title="注册" class="container" hide-tabs="">
	<ion-content scroll="false">
		<form name="myForm" w5c-form-validate="validateOptions" novalidate>
			<div class="register-icon">
				<img src="assets/img/personPhoto.png" alt="" class="ion-image">
			</div>

			<div class="weui-cells__title">请输入账号</div>
			<div class="weui-cells">
				<div class="weui-cell">
					<div class="weui-cell__bd">
						<input class="weui-input" name="username" type="text" ng-model="user.username" 
            required ng-maxlength="11" ng-minlength="11"
							placeholder="请输入账号" />
					</div>
				</div>
			</div>

			<div class="weui-cells__title">请输入密码</div>
			<div class="weui-cells">
				<div class="weui-cell">
					<div class="weui-cell__bd">
						<input class="weui-input" name="password" type="password" ng-model="user.password" 
            required ng-pattern="/^(?=.*[0-9].*)(?=.*[A-Za-z].*).{6,20}$/"
							placeholder="请输入密码" />
					</div>
				</div>
			</div>

			<div class="item-padding login-divider"></div>
      <a  href="#" class="weui-btn weui-btn_plain-default" ng-click="goBack()">返回登录</a>
			<form-error time="2000" ng-if="myForm.$errors.length > 0 "></form-error>
		</form>
	</ion-content>
</ion-view>