<!-- the current view will be rendered in the <ion-nav-view> directive -->
<ion-view view-title="找回密码" class="container" hide-tabs="">
  <ion-content scroll="false">
    <form name="myForm" w5c-form-validate="validateOptions" novalidate>
      <div class="tm-form-item item-text-wrap">
        <label class="item-input tm-item-input">
          <input type="tel" name="username" ng-model="user.username" placeholder="请输入手机号码"
          required ng-maxlength="11" ng-minlength="11" ng-pattern="/1[3|4|5|7|8|][0-9]{9}/"
          >
        </label>
      </div>
      <div class="tm-form-item item-text-wrap clearfix">
        <label class="item-input tm-item-input tm-item-input-inset">
          <input type="text" name="sms_code" ng-model="user.sms_code" placeholder="请输入短信验证码"
          required
          >
        </label>
        <label class="item-input tm-item-input tm-item-button-inset assertive" 
        g-if="!smsCodeStatus" ng-click="getSmsCode(user.username)">{{smsCodeText}}</label>
        <label class="item-input tm-item-input tm-item-button-inset stable" ng-if="smsCodeStatus">{{smsCodeText}}</label>
      </div>
      <div class="tm-form-item item-text-wrap">
        <label class="item-input tm-item-input">
          <input type="password" name="new_password" ng-model="user.new_password" placeholder="请输入密码（含数字和字母且在6~20位）"
                 required ng-pattern="/^(?=.*[0-9].*)(?=.*[A-Za-z].*).{6,20}$/">
        </label>
      </div>
      <div class="tm-form-item item-text-wrap">
        <label class="item-input tm-item-input">
          <input type="password" name="re_new_password" ng-model="user.re_new_password" required w5c-repeat="new_password"  placeholder="请再次输入密码">
        </label>
      </div>
      <div class="item-padding assertive forgot-password"></div>
      <div class="item-padding">
        <button class="button button-block button-assertive login-button" w5c-form-submit="reset()">确定</button>
      </div>
      <form-error time="2000" ng-if="myForm.$errors.length > 0 "></form-error>
    </form>
  </ion-content>
</ion-view>
