<ion-modal-view>
    <ion-header-bar>
        <button class="button-icon ion-ios-arrow-left"  style="color: #b2b2b2;font-size: 25px;"   ng-click="closeModal()"></button>
        <h1 class="title" style="color: white;">关于</h1>
    </ion-header-bar>
    <ion-content class="text-center padding-top">

        <section class="row responsive-lg text-center">
            <div class="col">
                <img src="img/icon.png">
            </div>
            <div class="col">
                http://chat.info
            </div>
        </section>
        
    </ion-content>
</ion-modal-view>