<ion-view view-title="账户">
	<ion-content>
		<a class="item item-icon-left item-icon-right" href="javascript:void(0);" >
			<i class="icon ion-logout"></i>
			{{userinfo.username}}
			<i class="icon ion-ios-arrow-right"></i>
		</a>

	
		<a class="item item-icon-left item-icon-right" click-share href="javascript:void(0);">
			<i class="icon ion-logout"></i>
			 分享
			<i class="icon ion-ios-arrow-right"></i>
		</a>

		<a class="item item-icon-left item-icon-right" href="javascript:void(0);" ng-click="SwitchAccount()">
			<i class="icon ion-logout"></i>
			 切换账号
			<i class="icon ion-ios-arrow-right"></i>
		</a>


		<a class="item item-icon-left item-icon-right" href="javascript:void(0);" >
			<i class="icon ion-logout"></i>
			<ion-toggle ng-model="settings.enableFriends">
				消息通知
			</ion-toggle>
			<i class="icon ion-ios-arrow-right"></i>
		</a>
	</ion-content>
</ion-view>