.rj-contacts-item {
  padding: 0px !important;
}

.rj-friend-online{
font-size:12px;color:green;
}
.rj-friend-offline{
    font-size:12px;
}

.rj-item .rj-contacts-pic {
  color: white;
  height: 52px;
  width: 42px;
  line-height: 42px;
  float: left;
  font-size: 28px;
  text-align: center;
}

.rj-item .rj-groups-pic {
  color: green;
  height: 42px;
  width: 42px;
  margin-top: 6px;
  margin-bottom: 6px;
  line-height: 42px;
  float: left;
  font-size: 28px;
  text-align: center;
}
.rj-inittalk {
  background-color: #fff;
  float: right;
  margin-top: 12px;
  margin-right: 40px;
  border-color: #28a54c;
  color: #28a54c;
}

.rj-contacts-index-bar {
  background-color: #E8E8E8;
  padding-left: 10px;
  height: 20px;
  line-height: 20px;
  font-size: 80%;
  color: #545454;
  display: block;
}
.rj-item h2 {
  padding-left: 18px;
  display: inline-block;
  margin: auto !important;
  top: 0;
  bottom: 0;
  left: 56px;
  height: 40px;
  line-height: 54px;
}

.rj-item p {
  display: inline-block;
  margin-left: 12px;
}

.rj-contacts-pic img {
  width: 42px;
  height: 42px;
  margin-left: 12px;
  margin-top: 7px;
}

.rj-item > a.item-content {
  padding: 0px;
}

.rj-groupmember {
  width: 25%;
  display: inline-block;
  background: #eee;
  border: none;
}

.rj-groupmember a.item-content {
  padding: 0px;
  text-align: center;
}

.rj-groupmember h2 {
  font-size: 12px;
}

.rj-group-membername {
  text-align: center;
  font-size: 10px;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
