<p class="rj-message-time" ng-bind="message.sentTime"> </p>
<div class="rj-message-wrap" ng-if="message.senderUserId != curUID ">
  <div class="rj-head-div">
       <img ng-src="img/personPhoto.png" class="rj-head-pic" />
       <div class="rj-group-membername">{{message.name}}</div>
   </div>
  <span class="rj-triangle-left"></span>
  <p class="rj-message" ng-style="{'width':40 + 7*message.content.duration/1000}">
    <a class="button button-icon" href="javascript:void(0)" title="播放" ng-click="play('{{message.content.voicePath}}','you')">
      <i class="web_wechat_voice_gray"> </i>
    </a>
  </p>
  <span class="message-duration" style="margin-left:10px;">{{message.content.duration}}''</span>
</div>
<div class="rj-message-wrap" ng-if="message.senderUserId == curUID ">
  <img src="img/me.png" class="rj-head-pic-right" />
  <span class="rj-triangle-right"></span>
  <p class="rj-message-right" ng-style="{'width':40 + 7*message.content.duration/1000}">
    <a class="button button-icon" href="javascript:void(0)" title="播放 " ng-click="play( '{{message.content.voicePath}}', 'me') ">
      <i class="web_wechat_voice_green "> </i>
    </a>
  </p>
  <span class="message-duration " style="float:right;margin-right:10px; ">{{message.content.duration}}''</span>
</div>