<ion-view view-title="devtest">
  <ion-content class="padding" id="lala">
    <!-- 模拟用户数据 -->
    <div >
	  <button class="button button-outline button-positive" ng-click="mockingUsers()">
        模拟用户数据
      </button></div>
	  <!-- 模拟用户好友 -->
      <div>
      <button class="button button-outline button-positive" ng-click="mockingFriends()">
        模拟用户好友
      </button></div>
	  <!-- 测试加载好友数据接口 -->
      <div>
      <button class="button button-outline button-positive" ng-click="testLoadAllFriends()">
        测试加载好友数据接口
      </button></div>
  </ion-content>
</ion-view>