<ion-view view-title="好友信息">
  <ion-content style="background-color:#EEE">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
        <img ng-src="{{Target.portrait||'img/personPhoto.png'}}">
        <h2>{{Target.name}}</h2>
        <p class="subTitle">ID: {{Target.id}}</p>
      </ion-item>
      <ion-toggle ng-model="settings.inBlackList" ng-change="chBlackList()">
        加入黑名单
      </ion-toggle>

      <button ng-show="!isFriend"  class="button button-block button-balanced" ng-click='addFriend()'>
        添加到通讯录
      </button>

      <button ng-show="isFriend" class="button button-block button-balanced" ng-click='sendMsg()'>
        发消息
      </button>
      <button ng-show="isFriend"  class="button button-block" ng-click='vedioChat()'>
        视频聊天
      </button>
    </ion-list>
  </ion-content>
</ion-view>