.nav-container{
    position:fixed;
    right: 15px;
    top:50px;
}

.alpha-nav {
     position: fixed;
     right: 0%;
     top: 5%;
     list-style: none;
     padding-right: 5px;
     padding-left: 5px;
     background: #ddd;
 }
 
 .alpha-nav > li {
     line-height: 1.2;
 }
 
 .prompt-box {
     display: none;
     position: fixed;
     right: 30%;
     top: 20%;
     width: 40px;
     height: 40px;
     font-size: 24px;
     line-height: 40px;
     text-align: center;
     color: white;
     background-color: cornflowerblue;
     border-radius: 50%;
 }
 
 .contact-container {
     height: 450px;
     overflow: scroll;
 }