.rj-footer-btn-wrap .rj-send-button {
    background-color: #1BBB37;
    color: #FFF;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    bottom: 3px;
    width: 38px;
    left: 4px;
    border-radius: 5px;
}

.rj-footer-btn-left {
    position: absolute !important;
    bottom: 0;
}

.message-input-area {
    display: flex;
    flex-direction: row;
}

.hold-tips {
    height: 36px;
    width: 60%;
    color: #444;
    text-align: center;
    margin: 0 auto;
    padding-top: 6px;
    border-radius: 4px;
    background-color: #f2f2f2
}

.hold-tips.active {
    background-color: #ccc;
}

.ic {
    display: block;
    margin: 0 auto;
    background: center center/100% 100% no-repeat;
    color: #777;
    text-align: center;
    font-size: 13px;
}

.ic-voice {
    width: 14px;
    height: 20px;
    background-image: url(/assets/img/icon/voice.png);
}

.ic-keyboard, .ic-keyboard-grey {
    width: 20px;
    height: 14px;
    background-image: url(/assets/img/icon/keyboard.png);
}

.ic-keyboard-grey {
    background-image: url(/assets/img/icon/keyboard-grey.png);
}

.voice .ic-voice, .voice .ic-keyboard-grey {
    margin: 5px;
}