
@font-face {
    font-family: 'Roboto Light';
    src:url('../lib/font/Roboto-Light.ttf') format('TrueType');
}

@font-face {
    font-family: 'Source Han Sans CN Light';
    src:url('../lib/font/SourceHanSansCN-Light.otf') format('OpenType');
}

.bacImgs{
    background:url('../img/login.png');
    -moz-background-size:40% 100%; /* 老版本的 Firefox */
    background-size:100% 100%;
    background-repeat:no-repeat;
}

.alarm-content{
    background-image: url('../img/background.png');
    background-size:100% 100%;
}

.chat{
    background-image: url('../img/background.png');
    background-size:100% 100%;
}

.energy-image{
    background-image: url('../img/background.png');
    background-size:100% 100%;
    background-origin:content-box;
    padding-bottom: 30px;
}

.task-content{
    display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 100%;
    background-image: url('../img/background.png');
    background-size:100% 100%;
}

.menu-bg{
    background-image: url('../img/menu.png');
    background-size:100% 100%;
}
