.rj-push-right {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #8c8c8c;
  font-size: 13px;
}

.item .rj-list-p {
  font-size: 13px;
  color: #6a6a6a; }

.item.my-popup {
  padding: 15px;
  padding-left: 20px;
}

.popup-head {
  padding: 0;
  border-bottom: none ; }

.popup-body {
  padding: 0px;
  overflow: hidden;
}

.scroll-bar-indicator {
  display: none; }

.item > .rj-sm-red-icon {
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #FF0000;
  line-height: 18px;
  text-align: center;
  top: 5px;
  left: 40px; }

.item > .rj-sm-red-icon > p {
  color: #FFF;
  font-size: 12px; }

.rj-item-top {
  background-color: #F1F1F1 !important; }

.rj-stable-content {
  background-color: #EEE;
}

.bar-footer {
  border-top: 1px solid #EEE !important; }

.bar-footer textarea {
  resize: none;
  height: 21px;
  max-height: 100px; }

.bar-footer .item-input {
  border: none !important;
  border-bottom: 1px solid #EEE !important; }

.rj-footer-btn {
  position: absolute !important;
  bottom: -1px;
  right: 5px; }

.rj-footer-input {
  width: 100%; }

.rj-footer-btn-wrap {
  position: relative;
  width: 50px;
  top: 2px; }

.rj-footer-btn-left {
  position: absolute !important;
  bottom: 0; }

.rj-message-wrap {
  padding: 7px;

  overflow: auto;
  position: relative; }

.rj-message-wrap .rj-head-pic,
.rj-message-wrap .rj-head-pic-right {
  max-height: 40px;
  max-width: 40px; }

.rj-message-wrap .rj-head-pic {
  float: left; 
  }

  .rj-message-wrap .rj-head-div {
  float: left;
  max-width: 42px;
   }

.rj-message-wrap .rj-head-pic-right {
  float: right; }

.rj-message-wrap .rj-message,
.rj-message-wrap .rj-message-right {
  padding: 6px 8px;
  line-height: 26px;
  max-width: 190px;
  border-radius: 5px;
}

.rj-message-wrap .rj-message {
  float: left;
  margin-left: 16px;
  background-color: #fff;
}

.rj-message-wrap .rj-message-right {
  float: right;
  margin-right: 16px;
  background-color: #b2e281; }

.rj-message-wrap .rj-triangle-left,
.rj-message-wrap .rj-triangle-right {
  display: inline-block;
  width: 0px;
  height: 0px;
  position: absolute;
  border-width: 8px 10px;
  border-style: solid;
  top: 17px; }

.rj-message-wrap .rj-triangle-left {
  left: 47px;
  border-color: transparent #FFF transparent transparent; }

.rj-message-wrap .rj-triangle-right {
  right: 47px;
  border-color: transparent transparent transparent #b2e281; }

.rj-message-time {
  width: 42px;
  text-align: center;
  margin-bottom: 5px;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 12px;
  margin-left: auto;
  margin-right: auto; }

.rj-footer-btn-wrap .rj-send-button {
  background-color: #1BBB37;
  color: #FFF;
  height: 30px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  bottom: 3px;
  width: 38px;
  left: 4px;
  border-radius:5px;
}

.rj-list .list {
  width: 100%;
  margin-left: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-top: -1px; }

.rj-list .list .rj-item {
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding-left: 0;
  padding-bottom: 3px; }

.rj-contacts-item {
  padding: 0px !important; }

.rj-item .rj-contacts-pic {
  color: white;
  height: 52px;
  width: 42px;
  line-height: 42px;
  float: left;
  font-size: 28px;
  text-align: center; }
  
  .rj-item .rj-groups-pic {
  color: white;
  height: 42px;
  width: 42px;
  margin-top: 6px;
  margin-bottom: 6px;
  line-height: 42px;
  float: left;
  font-size: 28px;
  text-align: center; }

.rj-orange-bgc {
  background-color: orange; }

.rj-green-bgc {
  background-color: #b2e281; }

.rj-blue-bgc {
  background-color: #2d31ca; }

.rj-item h2 {
  padding-left: 18px;
  display: inline-block;
  margin: auto !important;
  top: 0;
  bottom: 0;
  left: 56px;
  height: 40px;
  line-height: 54px; }
  .rj-item p{
      display: inline-block;
      margin-left: 12px;
  }

.rj-contacts-pic img {
  width: 42px;
  height: 42px;
  margin-left: 12px;
   margin-top: 7px;
   }

.rj-contacts-index-bar {
  background-color: #E8E8E8;
  padding-left: 10px;
  height: 20px;
  line-height: 20px;
  font-size: 80%;
  color: #545454;
  display: block;
}
.rj-inittalk{
  background-color: #fff;
  float: right;
  margin-top: 12px;
  margin-right: 40px;
  border-color: #28a54c;
  color:#28a54c;
}
.rj-requst-title{
  line-height: 55px;
}
.rj-agree{
  float: right;
  width: 60px;
  background-color: #fff;
  margin-right: 10px;
  border-color: #28a54c;
  color:#28a54c;
}
.rj-refuse{
  float: right;
  width: 60px;
  background-color: #fff;
  margin-right: 10px;
  border-color: red;
  color: red;
}
.rj-item > a.item-content{
  padding: 0px;
}
.rj-groupmember{
  width: 25%;
  display: inline-block;
  background: #eee;
  border:none;
}
.rj-groupmember a.item-content{
  padding: 0px;
  text-align:center;
}
.rj-groupmember h2{
  font-size: 12px;
}
.rj-group-membername{
  text-align: center;
  font-size: 10px;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space:nowrap;
}

p.subTitle{
  line-height: 30px;
} 

/*wechat share*/
.ic-weixin {
	width: 22px;
	height: 22px;
  display: inline-block !important;
	background-image: url(../img/weixin.png) !important;
}
.ic-weixin-moment {
	width: 22px;
	height: 22px;
  display: inline-block !important;
	background-image: url(../img/weixin-moment.png) !important;
}
.share-sheet .button {
	color: #777;
	font-size: 16px;
}

/*my*/
.h2-fix{
  border-left: 2px solid #009a61;
  background-color: #f6f6f6;font-size: 22px
}

/*聊天音效细化*/
.unreadcount{
  text-align: center;
}
.microphone{
  display: none;
  position:absolute;width:100%;left:0;bottom:150px;height:80px;
  align-items: center;justify-content: center;
}
.microphone.active{
  display: flex;
}
.microphone img{
  height: 100%;
}
.hold-tips{
  height:36px;width:60%;color:#444;text-align:center;margin:0 auto;
  padding-top:6px;border-radius:4px;background-color:#f2f2f2
}
.hold-tips.active {
  background-color: #ccc;
}

.ic {
  display: block;
  margin: 0 auto;
  background: center center/100% 100% no-repeat;
  color: #777;
  text-align: center;
  font-size: 13px;
}
.ic-voice {
  width: 14px;
  height: 20px;
  background-image: url(../img/icon/voice.png);
}

.ic-keyboard,.ic-keyboard-grey {
  width: 20px;
  height: 14px;
  background-image: url(../img/icon/keyboard.png);
}

.ic-keyboard-grey {
  background-image: url(../img/icon/keyboard-grey.png);
}
.voice {
  position: absolute;
  top: 4px;
  left: 10px;
}

.voice .ic-voice,.voice .ic-keyboard-grey {
  margin: 5px;
}
.imageMsg{
  width: 100px;
}
.chat-toolbar{
   height: 65px;width:100%;
   position: absolute;top: 60px;
   display: flex;flex-direction: row;align-items: center;
}

/* 联系人 */
/*for alphabet sidebar*/
.alpha_sidebar{
  position: absolute;
  top:60px;
  right: 10px;
  z-index: 999
}
.alpha_sidebar li{
  color: #333;
  text-align: center;
  margin-bottom: 0px;
  cursor: pointer;
  /*font-size: small;*/
  height:18px;
}
.alpha_sidebar.select-animation {
  /*font-size: small;*/
  font-weight: 700;
}

/* phonertc*/
.progress-bar-icon {
  font-size: 36px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 36px;
  width: 36px;
  z-index: 3;
}

.calling-container {
  text-align: center;
  margin-top: 20px;
}

.calling-container p {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.video-container {
  width: 300px;
  height: 300px;
  background-color: #000;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}
/*phone rtc*/
.progress-bar-icon {
  font-size: 36px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 36px;
  width: 36px;
  z-index: 3;
}

.calling-container {
  text-align: center;
  margin-top: 20px;
}

.calling-container p {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.video-container {
  width: 300px;
  height: 300px;
  background-color: #000;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

/* 隐藏菜单栏 */
.tabs-item-hide > .tabs,
.tabs.tabs-item-hide {
  display: none;
  }

 /* 消息样式切换 */
.message-detail-height  {
  bottom:125px !important;
}
.message-bar-height  {
  bottom:75px !important;
}
.message-footer-height {
  height: 125px !important;
}
/* 融云消息 */
.portrait{
  width:40px !important;
}
.message {
    display:block;
    clear:both;
    max-width:50%;
    margin:0 0 1rem 0;
    border-radius:.75rem;
    background:#e6e5eb;
    color:#383641;
    padding:.6875rem;
    font-size:.875rem;
}

.message img {
    display:block;
    max-width:65%;
    border-radius:.75rem;
}

.me {
  background:#b3eeb6;
  color:#fff;
  float:right;
}
.web_wechat_voice_gray{
  background: url(../img/icon/icon_sprite.png) 0 -2427px;
  display: inline-block;
  width: 23px;
  height: 23px;
  vertical-align: middle;
}
.web_wechat_voice_gray_playing{
  background:url(../img/icon/voice_play.gif);
  display: inline-block;
  width: 23px;
  height: 23px;
  vertical-align: middle;
}

.web_wechat_voice_green{
    background: url(../img/icon/icon_sprite.png) 0 -2450px;
    display: inline-block;
    width: 23px;
    height: 23px;
    vertical-align: middle;
}
.web_wechat_voice_playing{
    background: url(../img/icon/voice_play_me.gif);
    display: inline-block;
    width: 23px;
    height: 23px;
    vertical-align: middle;
}
.message-duration{
    line-height: 38px;
}